selectMode:common

regenIfNeeded:True
sneakyRegen:True
stockpile:False
greedLong:False
timeConstraint:True
cyberbullying:False
mistakes:True
burstType:True
spamType:True
dynamicRate:False
dynamicPauses:True
dynamicMistakes:True

minWait:1.0
maxWait:3.2
mistakePause:0.100
miniPause: 0.330
minWpm:70
maxWpm:120
spamWpm:1000
burstChance:0.50
minMistakeChance:0.01
maxMistakeChance:0.15
spamChance:0.10
jitterPercent: 0.50