selectMode:regen
cyberbullying:False
defaultWait:1.5
minWait:0.8
rate:0.08
burstType:True
burstRate:0.05
burstChance:0.07
randomness:0.3
mistakes:True
mistakeChance:0.05
mistakePause:0.5
franticType:True
franticRate:0.06
dynamicPauses:True
scaleFactor:0.02
spamType:True
spamRate:0.015
miniPause: 0.2
useDefunct:True